<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/admin/dashboard">
        <i class="fas fa-th-large mr-2"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/kos">
        <i class="fas fa-map-marker-alt mr-2"></i>
        <span class="menu-title">Kos</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/atribut">
        <i class="fas fa-tags mr-2"></i>
        <span class="menu-title">Atribut Kos</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/data-training">
        <i class="fas fa-database mr-2"></i>
        <span class="menu-title">Data Training Kos</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/pengguna">
        <i class="fas fa-user-lock mr-2"></i>
        <span class="menu-title">Data Admin</span>
      </a>
    </li>
  </ul>
</nav>
