<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <a class="navbar-brand" href="/">KosNaiveBayes</a>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link text-primary" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-primary" href="/kos">Kos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-primary" href="/form">Rekomendasi Kos</a>
      </li>
    </ul>
  </div>
</nav>
